    $main-color: #009de5;
    
    /* Locator Web Light */
     @font-face {
        font-family: 'LocatorWeb';
        src: url('fonts/LocatorWebLight/LocatorWebLight.eot');
        src: url('fonts/LocatorWebLight/LocatorWebLight.eot?#iefix')
            format('embedded-opentype'),
          url('fonts/LocatorWebLight/LocatorWebLight.woff2') format('woff2'),
          url('fonts/LocatorWebLight/LocatorWebLight.woff') format('woff');
        font-weight: 200;
        font-style: normal;
      }

      /* Locator Web Medium */
      @font-face {
        font-family: 'LocatorWeb';
        src: url('fonts/LocatorWebMedium/LocatorWebMedium.eot');
        src: url('fonts/LocatorWebMedium/LocatorWebMedium.eot?#iefix')
            format('embedded-opentype'),
          url('fonts/LocatorWebMedium/LocatorWebMedium.woff2') format('woff2'),
          url('fonts/LocatorWebMedium/LocatorWebMedium.woff') format('woff');
        font-weight: 400;
        font-style: normal;
      }
      @keyframes slidedown {
        from {
          opacity: 0;
          transform: translateY(-32px);
        }
      
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      @keyframes slideright {
        from {
          opacity: 0.3;
          transform: translateX(-100px);
        }
      
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      @keyframes slideleft {
        from {
          opacity: 0.3;
          transform: translateX(100px);
        }
      
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
#es-loreal.es-loreal img{
    max-width: 100%;
}

#es-loreal.es-loreal{
    font-family: 'LocatorWeb', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
    max-width: 998px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    background: #fff;

    .es-kv{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-image: url(/images//kv-bg.png);
        background-repeat: no-repeat;
        background-size: 55%;
        background-position: 120% 40%;
        position: relative;
        &__brand{
            position: absolute;
            top: 0;
            left: 50px;
            animation: slidedown 0.6s ease forwards;
            animation-delay: 0.3s;
            max-width: 250px;
        }
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 20px;
            min-width: 300px;
            animation: slideright 0.6s ease forwards;
            
        }
        &__text{
            text-align: right;
            padding-right: 20px;
        }
        &__title{
            font-size: 35px;
            line-height: 1;
            text-transform: uppercase;
            margin-top: 100px;
            margin-bottom: 0;
            span{
                color: $main-color;
            }
            sup{
                font-size: 20px;
            }
        }
        &__logo{
            animation: slideleft 0.6s ease forwards;
            max-width: 300px;
        }
        &__claim{
            font-size: 14px;
            margin-top: 15px;
            &--logo{
                font-size: 10px;
            }
        }
        &__packshot{
            margin-top: 20px;
            transition: .4s ease-in-out;
            img{
                width: 150px;
            }
        }
    }
    .es-kv:hover .es-kv__packshot{
        transform: scale(1.1);
    }
    .es-effects{
        &__title{
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &__subtitle{
            font-size: 16px;
            text-align: center;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 40px;
        }
        &__icons{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__single{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 150px;
            height: 150px;
            margin: 5px 10px;
            img{
                width: 40px;
            }
        }
        &__text{
            text-align: center;
            font-size: 14px;
            font-weight: bolder;
            text-transform: uppercase;
        }
    }
    .es-results{
        padding: 50px 100px;
        background-image: url(/images/results-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
       
        &__title{
            text-align: center;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: lighter;
            line-height: 1;
            margin-bottom: 5px;
        }
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        &__single{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 180px;
            height: 100px;
            margin: 5px 10px;
        }
        &__percent{
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 40px;
            span{
                font-weight: lighter;
                font-size: 16px;
                text-transform: uppercase;
            }
        }
        &__text{
            margin-top: 0;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: center;
        }
    }
    .es-results-badanie{
        text-align: center;
        width: 100%;
        font-size: 14px;
        sup{
            margin-right: 2px;
            font-size: 10px;
        }
    }
    .es-ingr{
        &__title{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 0;
        }
        &__text{
            padding: 20px 0;
            font-size: 18px;
            margin-top: -10px;
            margin-bottom: 20px;
        }
        &__container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__single{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 150px;
            min-height: 260px;
            margin: 5px 10px;
            position: relative;
           
        }
        &__main{
            width: 150px;
            height: 150px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &--1{
                background-image: url(/images/ingr-1.png);
            }
            &--2{
                background-image: url(/images/ingr-2.png);
            }
            &--3{
                background-image: url(/images/ingr-3.png);
            }
            &--4{
                background-image: url(/images/ingr-4.png);
            }
            &--5{
                background-image: url(/images/ingr-5.png);
            }
        }
        &__name{
            text-transform: uppercase;
            line-height: 1;
            padding: 10px 5px;
            background-color: rgba(255, 255, 255, 0.8);
            width: 80%;
            min-height: 50px;
            font-size: 16px;
            transition: .4s ease-in-out;
            span{
                font-size: 12px;
            }
        }
        &__desc{
            font-size: 11px;
        }
    }
    .es-ingr__single:hover .es-ingr__name{
        background-color: rgba(255, 255, 255, 1);
    }
  
    .es-use{
        min-height: 350px;
        background-image: url(/images/use-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        &__content{
            max-width: 50%;
            color: #fff;
            padding: 40px;
        }
        &__title{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: bold;
            margin: 0 35px;
        }
        ol{
            counter-reset: counter;
        }
        li{
            margin: 20px 0;
            counter-increment: counter;
            list-style: none;
            &::before {
                content:  counter(counter)'.';
                font-weight: normal;
                font-size:16px;
                margin-right: 8px;
                line-height: 1;
              }
        }
    }
    
    .es-cross{
        margin: 50px 0;
        background-image: url(/images/cross-bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 40% 80%;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        min-height: 1200px;
        :nth-child(2){
            align-self: flex-start;
        }
        &__mainTitle{
            color: #000;
            text-transform: uppercase;
            text-align: center;
            margin: 50px;
            font-size: 35px;
        }
        &__single{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            max-height: 400px;
            position: absolute;
            img{
                max-width: 100%;
                max-height: 100%;
                height: 400px;
                transition: .4s ease-in-out;
            }
            &--1{
                top:50px;
                right: 80px;
                img{
                    min-height: 500px;
                }
            }
            &--2{
                top:250px;
                left: 30px;
                img{
                    min-height: 500px;
                }
            }
            &--3{
                bottom:200px;
                right: 80px;
                
            }
        }
        &__content{
            max-width: 200px;
        }
        &__name{
            text-transform: uppercase;
            font-size: 25px;
            margin-top: 0;
            padding-top: 0;
        }
        &__number{
            color: $main-color;
            font-weight: bold;
            font-size: 150px;
            margin: 0;
            padding: 0;
        }
        &__desc{
            font-size: 16px;
        }
        &__link{
            padding: 5px 10px;
            background-color: $main-color;
            color: #fff;
            text-decoration: none;
            margin: 20px 0;
            transition: .5s ease;
        
        }
    }
    .es-cross__single:hover img{
        transform: scale(1.05);
    }
    .es-cross__single:hover .es-cross__link{
        color:$main-color;
                background-color: #fff;
                outline: 2.5px solid $main-color;
    }
    .es-obligations{
        margin: 50px 0;
        &__title{
            text-align: center;
            text-transform: uppercase;
            font-size: 35px;
            &--desktop{
                display: block;
            }
            &--mobile{
                display: none;
            }
        }
        &__ctn{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__single{
            width: 45%;
            min-width: 300px;
            height: 200px;
            background-repeat: no-repeat;
            background-size:cover;
            display: flex;
            align-items: flex-end;
            margin: 5px;
            &--1{
                background-image: url(/images/obligations-bg-1.png);
            }
            &--2{
                background-image: url(/images/obligations-bg-2.png);
            }
            &--3{
                background-image: url(/images/obligations-bg-3.png);
            }
            &--4{
                background-image: url(/images/obligations-bg-4.png);
            }
        }
        &__text{
            color: #fff;
            text-transform: uppercase;
            text-shadow: 2px -1px 19px rgba(66, 68, 90, 1);
            padding: 10px;
            font-weight: normal;
            line-height: 1;
            margin-bottom: 5px;
            font-size: 18px;
        }
    }
    .es-footer{
        margin: 50px 0;
        &__text{
            text-align: center;
            margin: 0;
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 900px){
    #es-loreal.es-loreal{
        .es-results{
            padding: 50px 20px;
            background-position: center;
        }
    }
}
@media screen and (max-width: 700px){
    #es-loreal.es-loreal{
        .es-kv{
            background-position: 40% 0%;
            background-size: cover;
        }
        
        .es-ingr{
            &__text{
                text-align: center;
            }
        }
        .es-cross{
            background-image: none;
            &__single{
                position: static;
                width: 100%;
                &--1{
                    top:50px;
                    right: 80px;
                    img{
                        min-height: 300px;
                    }
                }
                &--2{
                    top:250px;
                    left: 30px;
                    img{
                        min-height: 300px;
                    }
                }
                &--3{
                    bottom:100px;
                    right: 80px;
                    img{
                        max-height: 250px;
                    }
                }
            }
            &__number{
                font-size: 100px;
            }
            &__name{
                font-size: 20px;
            }
        }
        .es-obligations{
            &__single{
                width: 300px;
                height: 150px;
            }
        }
    }
}
@media screen and (max-width: 600px){
    #es-loreal.es-loreal{
        .es-kv{
            &__brand{
                width: 200px;
                position: static;
                margin: 0 auto;
                
            }
            &__content{
                margin-top: -20px;
                width: min-content;
                
            }
            &__title{
                font-size: 16px;
                text-align: right;
            }
            &__claim{
                text-align: center;
            }
            &__packshot{
                img{
                    width: 80px;
                }
            }
        }
        .es-use{
            &__content{
                max-width: 100%;
            }
        }
        .es-obligations{
            &__single{
                width: 80%;
            }
            &__title{
                &--desktop{
                    display: none;
                }
                &--mobile{
                    display: block;
                }
            }
        }
        
    }
}

@media screen and (max-width: 400px){
    #es-loreal.es-loreal{
        .es-kv{
            &__title{
                font-size: 17px;
                
            }
        }
        .es-cross{
            background-image: none;
            &__mainTitle{
                font-size: 25px;
            }
            &__single{
                padding: 20px 0;
                position: static;
                width: 100%;
                img{
                    height: 250px;
                    margin: 10px;
                }
            }
            &__number{
                font-size: 80px;
            }
            &__name{
                font-size: 18px;
            }
            &__link{
                font-size: 16px;
            }
        }
        .es-obligations{
            &__title{
                font-size: 30px;
                &--desktop{
                    display: none;
                }
                &--mobile{
                    display: block;
                }
            }
        }
    }
}